.env
__pycache__/
*.pyc
.venv/
.idea/
node_modules/
dist/
.DS_Store
.s/
backend/*.dist-info/
backend/fastapi/
backend/pydantic/
backend/starlette/
backend/uvicorn/
backend/dashscope/
backend/redis/
backend/mangum/
backend/requests/
backend/urllib3/
backend/certifi/
backend/charset_normalizer/
backend/idna/
backend/aiohttp/
backend/multidict/
backend/yarl/
backend/aiosignal/
backend/aiohappyeyeballs/
backend/attrs/
backend/frozenlist/
backend/propcache/
backend/websocket/
backend/websocket_client/
backend/websockets/
backend/click/
backend/colorama/
backend/h11/
backend/httptools/
backend/anyio/
backend/annotated_types/
backend/watchfiles/
backend/pymupdf/
backend/pydantic_core/
backend/typing_extensions/
backend/yaml/
backend/_yaml/
backend/dotenv/
backend/multipart/
backend/*.so
backend/*.pyd

