.env
__pycache__/
*.pyc
.venv/
.idea/
node_modules/
dist/
.DS_Store
.s/

deploy.zip
*.dist-info/
backend/.env
backend/_yaml/
backend/annotated_types/
backend/anyio/
backend/click/
backend/colorama/
backend/dotenv/
backend/exceptiongroup/
backend/fastapi/
backend/h11/
backend/httptools/
backend/idna/
backend/multipart/
backend/pydantic/
backend/pydantic_core/
backend/pypdf/
backend/sniffio/
backend/starlette/
backend/typing_extensions.py
backend/uvicorn/
backend/watchfiles/
backend/websockets/
backend/yaml/

